﻿<div id="example">
    <div class="demo-section k-content col-sm-6">
        <h4>Treeview Left</h4>
        <div id="treeview"></div>
        <script id="treeview-template" type="text/kendo-ui-template">
            <style>
                span.k-in, span.k-state-focused {
                    background: transparent;
                    box-shadow: unset;
                }
            </style>

            <div id=" ${ item.id }"> ${ item.text }</div>

            # if (!item.items) { #
            <div id="exampleGrid_${ item.parentId }_${ item.id }" class="example-grid"></div>
            # } #
        </script>
    </div>
</div>
<script>
    function createGrid(index, value) {
        $(this).kendoGrid({
            dataSource: {
                data: [
                    { Name: "CarName#1", Number: 32, New: true },
                    { Name: "CarName#2", Number: 123, New: true },
                    { Name: "CarName#3", Number: 232, New: false },
                ],
                schema: {
                    model: {
                        fields: {
                            Name: { type: "string" },
                            Number: { type: "number" },
                            New: { type: "boolean" }
                        }
                    }
                }
            },
            editable: true,
            columns: [
                { field: "Name", title: "Name" },
                { field: "Number", title: "Number" },
                { field: "New" }
            ],
            edit: BindClickEventsToTreeView
        });
    }

    function BindClickEventsToTreeView() {
        $("#treeview").find(".k-item .k-icon").unbind("click");
        $("#treeview").find(".k-item .k-icon").click(function (e) {
            var tree = $("#treeview").data('kendoTreeView');
            tree.toggle($(e.target).closest(".k-item"));
        });
    }

    $("#treeview").kendoTreeView({
        template: kendo.template($("#treeview-template").html()),
        dataSource: [
            {
                id: "1", text: "CarBrand#1", items: [
                  { id: "1", text: "Car#1", parentId: "1" },
                  { id: "2", text: "Car#2", parentId: "1" },
                  { id: "3", text: "Car#3", parentId: "1" }]
            },
            {
                id: "2", text: "CarBrand#2", items: [
                  { id: "1", text: "Car#1", parentId: "2" },
                  { id: "2", text: "Car#2", parentId: "2" },
                  { id: "3", text: "Car#3", parentId: "2" }]
            }
        ],
        dragAndDrop: true,
        drop: function (e) {
            e.preventDefault();
            
            var tree = $("#treeview").data('kendoTreeView');
            var data = tree.dataItem(e.sourceNode);
            var newData = tree.dataItem(e.destinationNode);

            if (!newData)
                return;

            if (data.level() != newData.level())
                return;
            else if (data.level() == newData.level() && e.dropPosition == "over")
                return;

            else if (data.level() == newData.level() && e.dropPosition == "after")
                $(e.sourceNode).insertAfter($(e.destinationNode));
            else
                $(e.sourceNode).insertBefore($(e.destinationNode));
        }
    });

    $(document).ready(function () {
        $("#treeview").unbind("click");
        BindClickEventsToTreeView();

        $(".example-grid").each(createGrid);
    });
</script>
